.idea
node_modules
/igraph/examples/communities/fastgreedy_seed_test
/igraph/examples/communities/out
/igraph/examples/communities/edge_betweenness_seed_test
/igraph/examples/communities/louvain_seed_test
